
  .car {
    width: 100px;
    height: 180px;
    background-color: yellow;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
    transform: scale(0.6);
  }
  
  /* Fenêtre */
  .window {
    position: absolute;
    top: 50px;
    left: 15px;
    width: 70px;
    height: 60px;
    background-color: #a3d3f7;
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  /* Roues */
  .wheel {
    position: absolute;
    width: 15px;
    height: 40px;
    background-color: black;
    border-radius: 5px;
    z-index: 1;
  }
  
  .wheel-front-left {
    top: 10px;
    left: -10px;
  }
  
  .wheel-front-right {
    top: 10px;
    right: -10px;
  }
  
  .wheel-back-left {
    bottom: 10px;
    left: -10px;
  }
  
  .wheel-back-right {
    bottom: 10px;
    right: -10px;
  }
  
  /* Feux arrière */
  .light {
    position: absolute;
    width: 20px;
    height: 8px;
    background: #888;
    border-radius: 4px;
    z-index: 3;
  }
  
  .left-light {
    bottom: -5px;
    left: 10px;
  }
  
  .right-light {
    bottom: -5px;
    right: 10px;
  }
  